.facts {
	&-list {
		color: white;
		justify-content: space-between;

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-transform: uppercase;
		}

		&__icon {
			height: 100px;
			width: 100px;
			padding: 2rem;
			fill: white;
			border: solid;
			border-radius: 50%;
		}

		&__number-val {
			font-size: 2.7rem;
		}
	}
}