.hero {
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20%;

	&__head {
		font-size: 62px;
	}

	&__subhead {
		font-size: 48px;
	}

	&__subhead span {
		color: #4863be;
	}
}