.hero {
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 125px;

	&__head {
		color: white;
		font-size: 62px;
		padding-bottom: 0;
		margin: 0;
	}

	&__subhead {
		padding-bottom: 1rem;
		font-size: 48px;
	}

	&__subhead span {
		color: #4863be;
	}

	&__text {
		font-size: 1.2rem;
		position: relative;
		margin-bottom: 10%;

		&:before {
			content: "";
    		display: block;
    		width: 28px;
    		height: 2px;
    		background-color: $primary;
    		position: absolute;
    		top: 50%;
    		right: 107%;
		}

		&:after {
			content: "";
    		display: block;
    		width: 28px;
    		height: 2px;
    		background-color: $primary;
    		position: absolute;
    		top: 50%;
    		left: 107%;
		}
	}

	&-social {
		display: flex;

		&__link {
			padding: .7rem;
			opacity: .5;
			transition: opacity .2s ease;

			&:hover {
				opacity: 1;
			}
		}

		&__icon {
			width: 24px;
			height: 24px;
			fill: white;
		}
	}
}