.page {
	overflow: hidden;

	&-heart {
		text-align: center;
		
		&__icon {
			width: 20px;
			height: 20px;
			fill: $gray;
		}
	}

	&__head, &__subhead {
		text-align: center;
	}

	&__head {
		font-size: 2em;
		font-weight: bold;
		color: $primary;
		text-transform: uppercase;
		padding-bottom: .5em;
	}

	&__subhead {
		font-size: 1.2em;
		padding-bottom: 8rem;
		position: relative;

			/*&:before {
				content: "";
	    		display: block;
	    		width: 90px;
	    		height: 2px;
	    		background-color: $gray;
	    		position: absolute;
	    		top: calc(50% - 2px);
	    		right: calc(50% + 2rem);
			}*/

			/*&:after {
				content: "";
	    		display: block;
	    		width: 90px;
	    		height: 2px;
	    		background-color: $gray;
	    		position: absolute;
	    		top: calc(50% - 2px);
	    		left: calc(50% + 2rem);
			}*/

		&-icon {
			width: 20px;
			height: 20px;
			fill: $gray;
		}
	}

	&__text,
	&-figure__quote {
		text-align: justify;
		font-size: 1.2em;
		line-height: 1.6em;
	}
}

.page-list {
	&__head {
		font-size: 1.1em;
		font-weight: 600;
		padding-bottom: .6em;
	}

	&__head {
		text-align: left;
		width: 100%;
	}
}

.page-figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;

	&__img {
		width: 224px;

	}

	&__quote {
		font-size: 1.2em;
		text-align: center;
		padding: .8em .4em 1em 0;
		margin: 0;
	}

	&__caption {
		color: $primary;
		font-weight: bold;
	}
}