.services {
	&__subhead {
		padding-bottom: 4rem;
	}

	&-content {
		display: flex;
		justify-content: space-between;
	}

	&-list {
		flex-direction: column;

		&__item {
			padding-top: 3rem;
			padding-bottom: 1.5rem;
		}
	}

	&-image {
		width: 30%;
		height: 30%;
	}
}