.services {
	&__subhead {
		padding-bottom: 4rem;
	}

	&-content {
		display: flex;
		justify-content: space-between;
	}

	&-list {
		flex-direction: column;

		&__item {
			padding-top: 3rem;
		}
	}

	&-image {
		width: 32%;
	}
}