/* Default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'myriadpro-bold', sans-serif;
}

@font-face {
    font-family: "myriadpro-bold";
  src: url("../sass/fonts/myriadpro-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* Blocks */
.btn {
    width: 50%;
    color: white;
    text-align: center;
    background-color: #4c76ff;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 20px;
    padding: .5em;
    margin-top: 1.5em;
    -webkit-transition: background-color .14s linear;
    -o-transition: background-color .14s linear;
    transition: background-color .14s linear;
}

.btn:hover {
    background-color: #668aff;
}

.btn-cta {
    background-color: #00CC80FF;
    -webkit-transition: background-color .14s linear;
    -o-transition: background-color .14s linear;
    transition: background-color .14s linear;
}

.btn-cta:hover {
    background-color: #00e690;
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #4c76ff;
    border-radius: 1em;
}

.grid {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 38vh);
}

.grid .slider-list__item {
    position: relative;
    background-color: #ccc;
    overflow: hidden;
}

.grid .slider-list__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.grid .slider-list__item.a,
.grid .slider-list__item.b,
.grid .slider-list__item.c,
.grid .slider-list__item.d,
.grid .slider-list__item.e,
.grid .slider-list__item.f,
.grid .slider-list__item.j,
.grid .slider-list__item.k {
    grid-column: span 3;
}

@media (max-width: 991px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 30vh);
    }

    .grid .slider-list__item.a,
  .grid .slider-list__item.b,
  .grid .slider-list__item.c,
  .grid .slider-list__item.d,
  .grid .slider-list__item.e,
  .grid .slider-list__item.f {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 45vh);
    }

    .grid .slider-list__item.a,
  .grid .slider-list__item.b,
  .grid .slider-list__item.c,
  .grid .slider-list__item.d,
  .grid .slider-list__item.e,
  .grid .slider-list__item.f {
        grid-column: span 1;
        grid-row: span 1;
    }
}

.page {
    overflow: hidden;
}

.page-heart {
    text-align: center;
}

.page-heart__icon {
    width: 20px;
    height: 20px;
    fill: #bfbfbf;
}

.page__head, .page__subhead {
    text-align: center;
}

.page__head {
    font-size: 2em;
    font-weight: bold;
    color: #4c76ff;
    text-transform: uppercase;
    padding-bottom: .5em;
}

.page__subhead {
    font-size: 1.2em;
    padding-bottom: 8rem;
    position: relative;
    /*&:before {
				content: "";
	    		display: block;
	    		width: 90px;
	    		height: 2px;
	    		background-color: $gray;
	    		position: absolute;
	    		top: calc(50% - 2px);
	    		right: calc(50% + 2rem);
			}*/
    /*&:after {
				content: "";
	    		display: block;
	    		width: 90px;
	    		height: 2px;
	    		background-color: $gray;
	    		position: absolute;
	    		top: calc(50% - 2px);
	    		left: calc(50% + 2rem);
			}*/
}

.page__subhead-icon {
    width: 20px;
    height: 20px;
    fill: #bfbfbf;
}

.page__text, .page-figure__quote {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.6em;
}

.page-list__head {
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: .6em;
}

.page-list__head {
    text-align: left;
    width: 100%;
}

.page-figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}

.page-figure__img {
    width: 224px;
}

.page-figure__quote {
    font-size: 1.2em;
    text-align: center;
    padding: .8em .4em 1em 0;
    margin: 0;
}

.page-figure__caption {
    color: #4c76ff;
    font-weight: bold;
}

.section-hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero/hero_background.jpg");
    background-position: 50%;
    background-size: cover;
}

.section-features {
    background-color: #efefef;
}

.section-facts {
    background-image: url("../img/facts/facts-bg.png");
}

.section-footer {
    padding: 4rem 0;
    background-color: black;
}

.section--padding-vertical {
    padding: 100px 0;
}

.container {
    margin: 0 auto;
    max-width: 974px;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: red;
}

.header-wrapper {
    background: rgba(16, 22, 54, 0.3);
}

.navbar {
    font-size: 12px;
}

.navbar__menu {
    width: 35px;
    height: 35px;
    fill: white;
}

.navbar-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.navbar-list__item {
    padding: 2em 2em 1.1em 0;
}

.navbar-list__link {
    color: white;
    font-weight: bold;
    letter-spacing: .2em;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.navbar-list__link:before {
    content: "";
    display: block;
    width: 100%;
    height: 1.3px;
    background-color: #4c76ff;
    position: absolute;
    top: -100%;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.navbar-list__link:hover:before {
    opacity: 1;
}

.logo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo-box__text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.hero {
    text-align: center;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 125px;
}

.hero__head {
    color: white;
    font-size: 62px;
    padding-bottom: 0;
    margin: 0;
}

.hero__subhead {
    padding-bottom: 1rem;
    font-size: 48px;
}

.hero__subhead span {
    color: #4863be;
}

.hero__text {
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 10%;
}

.hero__text:before {
    content: "";
    display: block;
    width: 28px;
    height: 2px;
    background-color: #4c76ff;
    position: absolute;
    top: 50%;
    right: 107%;
}

.hero__text:after {
    content: "";
    display: block;
    width: 28px;
    height: 2px;
    background-color: #4c76ff;
    position: absolute;
    top: 50%;
    left: 107%;
}

.hero-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero-social__link {
    padding: .7rem;
    opacity: .5;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.hero-social__link:hover {
    opacity: 1;
}

.hero-social__icon {
    width: 24px;
    height: 24px;
    fill: white;
}

.features-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    width: 100%;
    padding: 4rem 1rem;
}

.services__subhead {
    padding-bottom: 4rem;
}

.services-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.services-list__item {
    padding-top: 3rem;
}

.services-image {
    width: 32%;
}

.slider-list__item {
    position: relative;
}

.slider-list__item:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4c76ff;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .45s ease;
    -o-transition: opacity .45s ease;
    transition: opacity .45s ease;
}

.slider-list__item:hover:after {
    opacity: .9;
}

.slider-list__item:hover .slider-caption {
    opacity: 1;
}

.slider-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    color: white;
    opacity: 0;
    top: calc(50% - 1rem);
    position: absolute;
    z-index: 1;
    -webkit-transition: opacity .45s ease;
    -o-transition: opacity .45s ease;
    transition: opacity .45s ease;
}

.slider-caption__head {
    font-size: 1.2rem;
}

.facts-list {
    color: white;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.facts-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
}

.facts-list__icon {
    height: 100px;
    width: 100px;
    padding: 2rem;
    fill: white;
    border: solid;
    border-radius: 50%;
}

.facts-list__number-val {
    font-size: 2.7rem;
}

.contacts-address, .contacts-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contacts-social {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contacts-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contacts-address__head {
    color: #062033;
    padding-bottom: 2rem;
}

.contacts-social__link {
    padding: .7rem;
    opacity: .5;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.contacts-social__link:hover {
    opacity: 1;
}

.contacts-social__icon {
    width: 24px;
    height: 24px;
    fill: black;
}

.form {
    width: 100%;
    padding: 0 1.7rem;
    display: block;
}

.form__box {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
}

.form__head {
    color: #062033;
    text-align: right;
    padding-bottom: 2rem;
}

.form__input, .form__textarea {
    padding: 0.8rem;
    background: #FFFFFF;
    border: 1px solid rgba(31, 64, 111, 0.2);
    border-radius: 4px;
}

.form__input-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form__input {
    width: 340px;
    height: 36px;
}

.form__textarea {
    width: 699px;
    height: 136px;
    margin-top: 20px;
    outline: none;
    resize: none;
}

.form__inputfile {
    display: none;
}

.form__btn-inputfile {
    margin: 20px 0;
    cursor: pointer;
}

.form__btn-inputfile:hover {
    color: black;
}

.form__btn-inputfile:active {
    opacity: 0.7;
}

.form__btn {
    width: 100%;
}

.footer {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer__address {
    color: black;
    padding: 1em 0;
}

.footer-licence__head, .footer-subscribe__head, .footer-explore__head {
    padding-bottom: 1.5rem;
}

.footer-social__item {
    margin-right: .5em;
}

.footer-social__link {
    color: #85919b;
    font-size: .85em;
}

.footer-explore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-explore__link {
    color: white;
    text-decoration: none;
}

.footer.grid {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: none;
    grid-gap: 5rem;
}

.grid .footer-subscribe.b {
    grid-column: span 6;
}

.grid .footer-licence.a,
.grid .footer-explore.c {
    grid-column: span 3;
}

@media screen and (min-width: 1000px) {
    .hide-desktop {
        display: none;
    }
}

@media (max-width: 1000px) {
    .navbar-list {
        display: none;
    }
}

@media (max-width: 675px) {
    .page__subhead {
        font-size: 1.5em;
    }

    .btn {
        width: 80%;
    }
}
