<div class="contacts">
	<h1 class="page__head">Let’s Discuss</h1>

	<div class="page-heart">
		<svg class="page-heart__icon">
			<use xlink:href="#heart"></use>
		</svg>
	</div>
	<!-- /.page-heart -->

	<p class="page__subhead">
		Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
	</p>

	<div class="contacts-block">
		<div class="contacts-address">
			<h1 class="contacts-address__head">Heading</h1>

			<p class="contacts-address__text">
				Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Rerum, aperiam.
			</p>
		</div>
		<!-- /.contacts-address -->

		<form class="form">
			<fieldset class="form__box">
				<div class="form__input-box">
					<input 
						class="form__input" 
						id="name" 
						type="text" 
						placeholder="Как вас зовут?" 
						required
					>

					<input 
						class="form__input" 
						id="email" type="email" 
						placeholder="Почтовый ящик" 
						required
					>
				</div>
				<!-- /.form__input-box -->

				<textarea 
					class="form__textarea" 
					placeholder="Textareas work too" 
					required>
				</textarea>
			</fieldset>
			<!-- /.form__box -->
		</form>
		<!-- /.form -->

		<ul class="contacts-social">
			<li class="contacts-social__item">
				<a href="#" class="contacts-social__link">
					<svg class="contacts-social__icon">
						<use xlink:href="#twitter"></use>
					</svg>
				</a>
			</li>

			<li class="contacts-social__item">
				<a href="#" class="contacts-social__link">
					<svg class="contacts-social__icon">
						<use xlink:href="#facebook"></use>
					</svg>
				</a>
			</li>

			<li class="contacts-social__item">
				<a href="#" class="contacts-social__link">
					<svg class="contacts-social__icon">
						<use xlink:href="#google-plus"></use>
					</svg>
				</a>
			</li>

			<li class="contacts-social__item">
				<a href="#" class="contacts-social__link">
					<svg class="contacts-social__icon">
						<use xlink:href="#dribble"></use>
					</svg>
				</a>
			</li>
		</ul>
		<!-- /.social-block -->
	</div>
	<!-- /.contacts-block -->
</div>
<!-- /.contacts -->