<div class="facts">
	<h1 class="page__head">same fun facts</h1>

	<div class="page-heart">
		<svg class="page-heart__icon">
			<use xlink:href="#heart"></use>
		</svg>
	</div>
	<!-- /.page-heart -->

	<ul class="facts-list page-list">
		<li class="facts-list__item">
			<svg class="facts-list__icon">
				<use xlink:href="#heart"></use>
			</svg>

			<span class="facts-list__number-val">3200</span>

			<span class="facts-list__caption">Hours of Work</span>
		</li>
	</ul>
	<!-- /.facts-list -->

</div>