<div class="features">
	<h1 class="page__head features__head">features</h1>
	<p class="page__subhead">
		<svg class="page__subhead-icon">
			<use xlink:href="#heart"></use>
		</svg>
	</p>

	<ul class="features-list page-list row">
		<div class="col-lg-3 col-md-6">
			<li class="features-list__item">
				<img class="features-list__img" src="assets/img/features/s1.png" alt="service picture">

				<h1 class="page-list__head">Mobile Friendly</h1>

				<p class="page-list__text">
					Creeping for female light years that lesser can't evening heaven isn't bearing tree
				</p>
			</li>
		</div>

		<div class="col-lg-3 col-md-6">
			<li class="features-list__item">
				<img class="features-list__img" src="assets/img/features/s1.png" alt="service picture">

				<h1 class="page-list__head">Mobile Friendly</h1>

				<p class="page-list__text">
					Creeping for female light years that lesser can't evening heaven isn't bearing tree
				</p>
			</li>
		</div>

		<div class="col-lg-3 col-md-6">
			<li class="features-list__item">
				<img class="features-list__img" src="assets/img/features/s1.png" alt="service picture">

				<h1 class="page-list__head">Mobile Friendly</h1>

				<p class="page-list__text">
					Creeping for female light years that lesser can't evening heaven isn't bearing tree
				</p>
			</li>
		</div>

		<div class="col-lg-3 col-md-6">
			<li class="features-list__item">
				<img class="features-list__img" src="assets/img/features/s1.png" alt="service picture">

				<h1 class="page-list__head">Mobile Friendly</h1>

				<p class="page-list__text">
					Creeping for female light years that lesser can't evening heaven isn't bearing tree
				</p>
			</li>
		</div>
	</ul>
	<!-- /.features-list -->
</div>
<!-- /.features -->