<div class="features">
	<h1 class="page__head features__head">features</h1>
	<div class="page-heart">
		<svg class="page-heart__icon">
			<use xlink:href="#heart"></use>
		</svg>
	</div>

	<ul class="features-list page-list">
		<li class="features-list__item">
			<svg class="page__subhead-icon">
				<use xlink:href="#heart"></use>
			</svg>

			<h1 class="page-list__head">Branding</h1>

			<p class="page-list__text">
				Creeping for female light years that lesser can't evening heaven isn't bearing tree
			</p>
		</li>
		<li class="features-list__item">
			<svg class="page__subhead-icon">
				<use xlink:href="#heart"></use>
			</svg>

			<h1 class="page-list__head">Development</h1>

			<p class="page-list__text">
				Creeping for female light years that lesser can't evening heaven isn't bearing tree
			</p>
		</li>
		<li class="features-list__item">
			<svg class="page__subhead-icon">
				<use xlink:href="#heart"></use>
			</svg>

			<h1 class="page-list__head">Consulting</h1>

			<p class="page-list__text">
				Creeping for female light years that lesser can't evening heaven isn't bearing tree
			</p>
		</li>
	</ul>
	<!-- /.features-list -->
</div>
<!-- /.features -->