<footer class="footer grid">
	<div class="footer-licence a">
		<div class="logo-box">
			<span class="logo-box__text footer-licence__head">
				savel'evo
			</span>
		</div>
		<!-- /.logo-box -->

		<p class="footer-licence__text">
			eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
			consequat
		</p>
	</div>
	<!-- /.footer-licence -->

	<div class="footer-subscribe b">
		<h1 class="footer-subscribe__head">Subscribe</h1>

		<p class="footer-subscribe__text">
			eusmod tempor incididunt ut labore et dolore magna aliqua. 
		</p>
	</div>

	<ul class="footer-explore c">
		<h1 class="footer-explore__head">Explore</h1>

		<li class="footer-explore__item">
			<a class="footer-explore__link" href="#">
				Terms of Service
			</a>
		</li>

		<li class="footer-explore__item">
			<a class="footer-explore__link" href="#">
				Terms of Service
			</a>
		</li>

		<li class="footer-explore__item">
			<a class="footer-explore__link" href="#">
				Terms of Service
			</a>
		</li>

		<li class="footer-explore__item">
			<a class="footer-explore__link" href="#">
				Terms of Service
			</a>
		</li>

		<li class="footer-explore__item">
			<a class="footer-explore__link" href="#">
				Terms of Service
			</a>
		</li>
	</ul>
	<!-- /.footer-explore -->
</footer>
<!-- /.footer -->