<header class="header">
	<div class="logo-box">
		<span class="logo-box__text">
			savel'evo
		</span>
	</div>
	<!-- /.logo-box -->

	<nav class="navbar">
    	<svg class="navbar__menu hide-desktop">
    		<use xlink:href="#menu"></use>
    	</svg>

		<ul class="navbar-list">
			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Home</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Features</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Work</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Team</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Contact</a>
			</li>
		</ul>
	</nav>
	<!-- /.navbar -->
</header>