<div class="hero">
	<h1 class="page__head hero__head">Savel'evo</h1>
	<p class="page__subhead hero__subhead"><span>/creative</span> one page template.</p>
	<p class="hero__text">We are a team of professionals</p>

	<ul class="social-block hero-social">
		<li class="hero-social__item">
			<a href="#" class="hero-social__link">
				<svg class="hero-social__icon">
					<use xlink:href="#twitter"></use>
				</svg>
			</a>
		</li>

		<li class="hero-social__item">
			<a href="#" class="hero-social__link">
				<svg class="hero-social__icon">
					<use xlink:href="#facebook"></use>
				</svg>
			</a>
		</li>

		<li class="hero-social__item">
			<a href="#" class="hero-social__link">
				<svg class="hero-social__icon">
					<use xlink:href="#google-plus"></use>
				</svg>
			</a>
		</li>

		<li class="hero-social__item">
			<a href="#" class="hero-social__link">
				<svg class="hero-social__icon">
					<use xlink:href="#dribble"></use>
				</svg>
			</a>
		</li>
	</ul>
</div>
<!-- /.hero -->