<div class="portfolio">
	<h1 class="page__head">works</h1>
	<p class="page__subhead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>

	<ul class="portfolio-list grid" >
		<li class="portfolio-list__item a">
			<img src="a.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item b">
			<img src="b.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item c">
			<img src="c.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item d">
			<img src="d.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item e">
			<img src="e.jpg" alt="portfolio pocture">
		</li>

		<li class="portfolio-list__item f">
			<img src="f.jpg" alt="portfolio pocture">
		</li>
	</ul>
	<!-- /.portfolio-list -->
</div>
<!-- /.portfolio -->