<div class="services">
	<p class="page__subhead services__subhead">
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
	</p>

	<div class="services-content">
		<ul class="page-list services-list">
			<li class="page-list__item services-list__item">
				<h1 class="page-list__head">Accusan timar</h1>

				<p class="services-list__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				</p>
			</li>

			<li class="page-list__item services-list__item">
				<h1 class="page-list__head">Accusan timar</h1>
				
				<p class="services-list__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				</p>
			</li>

			<li class="page-list__item services-list__item">
				<h1 class="page-list__head">Accusan timar</h1>
				
				<p class="services-list__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				</p>
			</li>
		</ul>
		<!-- /.services-list -->

		<img
			class="services-image" 
			src="../../assets/img/services/iphone.png" 
			alt="iphone"
		>

		<ul class="page-list services-list">
			<li class="page-list__item services-list__item">
				<h1 class="page-list__head">Accusan timar</h1>

				<p class="services-list__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				</p>
			</li>

			<li class="page-list__item services-list__item">
				<h1 class="page-list__head">Accusan timar</h1>

				<p class="services-list__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				</p>
			</li>

			<li class="page-list__item services-list__item">
				<h1 class="page-list__head">Accusan timar</h1>

				<p class="services-list__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				</p>
			</li>
		</ul>
		<!-- /.services-list -->
	</div>
	<!-- /.services-content -->
</div>
<!-- /.services -->