
<ul class="slider-list grid" >
	<li class="slider-list__item a">
		<img src="../../assets/img/slider/a.png" alt="slider picture">
	</li>

	<li class="slider-list__item b">
		<img src="../../assets/img/slider/b.png" alt="slider picture">
	</li>

	<li class="slider-list__item c">
		<img src="../../assets/img/slider/c.png" alt="slider picture">
	</li>

	<li class="slider-list__item d">
		<img src="../../assets/img/slider/d.png" alt="slider picture">
	</li>

	<li class="slider-list__item e">
		<img src="../../assets/img/slider/e.png" alt="slider picture">
	</li>

	<li class="slider-list__item f">
		<img src="../../assets/img/slider/f.png" alt="slider picture">
	</li>

	<li class="slider-list__item j">
		<img src="../../assets/img/slider/j.png" alt="slider picture">
	</li>

	<li class="slider-list__item k">
		<img src="../../assets/img/slider/k.png" alt="slider picture">
	</li>
</ul>
<!-- /.slider-list -->