
<ul class="slider-list grid" >
	<li class="slider-list__item a">
		<img src="assets/img/slider/a.png" alt="slider picture">

		<div class="slider-caption">
			<h2 class="slider-caption__head">
				Labore et dolore magnam
			</h2>

			<p class="slider-caption__subhead">
				Photography
			</p>
		</div>
	</li>

	<li class="slider-list__item b">
		<img src="assets/img/slider/b.png" alt="slider picture">

		<div class="slider-caption">
			<h2 class="slider-caption__head">
				Labore et dolore magnam
			</h2>

			<p class="slider-caption__subhead">
				Photography
			</p>
		</div>
	</li>

	<li class="slider-list__item c">
		<img src="assets/img/slider/c.png" alt="slider picture">

		<div class="slider-caption">
			<h2 class="slider-caption__head">
				Labore et dolore magnam
			</h2>

			<p class="slider-caption__subhead">
				Photography
			</p>
		</div>
	</li>

	<li class="slider-list__item d">
		<img src="assets/img/slider/d.png" alt="slider picture">

		<div class="slider-caption">
			<h2 class="slider-caption__head">
				Labore et dolore magnam
			</h2>

			<p class="slider-caption__subhead">
				Photography
			</p>
		</div>
	</li>

	<li class="slider-list__item e">
		<img src="assets/img/slider/e.png" alt="slider picture">

		<div class="slider-caption">
			<h2 class="slider-caption__head">
				Labore et dolore magnam
			</h2>

			<p class="slider-caption__subhead">
				Photography
			</p>
		</div>
	</li>

	<li class="slider-list__item f">
		<img src="assets/img/slider/f.png" alt="slider picture">

		<div class="slider-caption">
			<h2 class="slider-caption__head">
				Labore et dolore magnam
			</h2>

			<p class="slider-caption__subhead">
				Photography
			</p>
		</div>
	</li>

	<li class="slider-list__item j">
		<img src="assets/img/slider/j.png" alt="slider picture">

		<div class="slider-caption">
			<h2 class="slider-caption__head">
				Labore et dolore magnam
			</h2>

			<p class="slider-caption__subhead">
				Photography
			</p>
		</div>
	</li>

	<li class="slider-list__item k">
		<img src="assets/img/slider/k.png" alt="slider picture">

		<div class="slider-caption">
			<h2 class="slider-caption__head">
				Labore et dolore magnam
			</h2>

			<p class="slider-caption__subhead">
				Photography
			</p>
		</div>
	</li>
</ul>
<!-- /.slider-list -->