<div class="team">
	<h1 class="page__head">Meet our team</h1>
	<p class="page__subhead">
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
	</p>

	<ul class="team-list page-list row">
		<li class="team-list__item">
			<figure class="page-figure">
				<img
				class="page-figure__img"
				src="assets/img/team/John.png"
				alt="user picture">

				<blockquote class="page-figure__quote">
					<p>Lorem ipsum dolor sit, amet consectetur.</p>
				</blockquote>

				<figcaption class="page-figure__caption">- Jane Doe </figcaption>
			</figure>
		</li>

		<li class="team-list__item">
			<figure class="page-figure">
				<img
				class="page-figure__img"
				src="assets/img/team/Chystine.png"
				alt="user picture">

				<blockquote class="page-figure__quote">
					<p>Lorem ipsum dolor sit, amet consectetur.</p>
				</blockquote>

				<figcaption class="page-figure__caption">- Jane Doe </figcaption>
			</figure>
		</li>

		<li class="team-list__item">
			<figure class="page-figure">
				<img
				class="page-figure__img"
				src="assets/img/team/Martin.png"
				alt="user picture">

				<blockquote class="page-figure__quote">
					<p>Lorem ipsum dolor sit, amet consectetur.</p>
				</blockquote>

				<figcaption class="page-figure__caption">- Jane Doe </figcaption>
			</figure>
		</li>

		<li class="team-list__item">
			<figure class="page-figure">
				<img
				class="page-figure__img"
				src="assets/img/team/Steve.png"
				alt="user picture">

				<blockquote class="page-figure__quote">
					<p>Lorem ipsum dolor sit, amet consectetur.</p>
				</blockquote>

				<figcaption class="page-figure__caption">- Jane Doe </figcaption>
			</figure>
		</li>
	</ul>
	<!-- /.team-list -->
</div>
<!-- /.team -->